/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
data_export.json
export_seeder.php
auth.json
*.php.bak
.php_cs.cache
.DS_Store
Thumbs.db
/docker-compose/mysql
